{% extends 'base.html' %}

{% block content %}
	<table class="table table-striped">
		<thead style="background-color: #f4c6cb">
			<tr align="center">
				<th>Giornata</th>
				<th>A/R</th>
				<th>Data</th>
				<th>Squadra Casa</th>
				<th>Squadra Ospite</th>
			</tr>
		</thead>
		{% if Partite %}
		<tbody>
			{% for dato in Partite %}
                {% if dato.id == id %}
				    <tr id="evidenziaelemento" align="center" style="background-color: #ffebee">
                {% else %}
                    <tr align="center" style="color: aliceblue">
                {% endif %}
                    <td>{{ dato.giornata.num_giornata }}</td>
                    {% if dato.giornata.num_giornata <= ritorno %}
                    	<td>A</td>
                    {% else %}
                    	<td>R</td>
                    {% endif %}
                    <td>{{ dato.data }}</td>
                    <td>{{ dato.squadra_casa.nome }}</td>
                    <td>{{ dato.squadra_ospite.nome }}</td>
                </tr>
			{% endfor %}
		</tbody>
		{% else %}
	    <p>Calendario non è caricabile.</p>
	    {% endif %}
    </table>
{% endblock %}