{% extends 'base.html' %}

{% block content %}
	<table class="table table-striped">
		<thead class="thead-light">
			<tr align="center">
				<th>Giornata</th>
				<th>A/R</th>
				<th>Data</th>
				<th>Squadra Casa</th>
				<th>Squadra Ospite</th>
			</tr>
		</thead>
		{% if Calendario %}
		<tbody>
			{% for dato in Calendario %}
				<tr align="center">
					<td>{{ dato.giornata }}</td>
					<td>{{ dato.ar }}</td>
					<td>{{ dato.data }}</td>
					<td>{{ dato.locali }}</td>
					<td>{{ dato.ospiti }}</td>
				</tr>
			{% endfor %}
		</tbody>
		{% else %}
	    <p>Calendario non è caricabile.</p>
	    {% endif %}
    </table>
{% endblock %}