{% extends 'base.html' %}

{% load static %}

{% block content %}
	<table class="table table-striped">
		<thead style="background-color: #f4c6cb">
			<tr align="center">
				<th>Posto</th>
				<th>Squadra</th>
				<th>Punti</th>
			</tr>
		</thead>
		{% if Classifica %}
		<tbody>
			{% for dato in Classifica %}
				<tr align="center" style="color: aliceblue">
					<td>{{ dato.0 }}</td>
					<td>{{ dato.1 }}</td>
					<td>{{ dato.2 }}</td>
				</tr>
			{% endfor %}
		</tbody>
		{% else %}
		<p>Classifica non è caricabile.</p>
		{% endif %}
	</table>
{% endblock %}
