{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="jumbotron bg-dark">
        <h1 style="color: aliceblue">Benvenuto nel sito web di consultazione dati del Campionato.</h1>
        <br>
        <h4 style="color: aliceblue">Statistiche Campionato:</h4>
        <ul style="color: aliceblue">
            <li>Numero partite: {{ num_partite }}</li>
            <li>Numero camapionati: {{ num_campionati }}</li>
            <li>Numero giornate: {{ num_giornate }}</li>
            <li>Numero squadre: {{ num_squadre }}</li>
            <li>Numero goal totali: {{ num_goal }}</li>
        </ul>
    </div>
{% endblock %}