{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
	<h1>Benvenuto nel sito web di consultazione dati del Campionato.</h1>
	<br>
	<h4>Cosa si desidera visualizzare?</h4>
	<ul>
		<li><a href="Campionato/Calendario/">Calendario</a></li>
		<li><a href="Campionato/Risultati/">Risultati</a></li>
		<li><a href="Campionato/Schedina/">Schedina</a></li>
		<li><a href="Campionato/Classifica/">Classifica</a></li>
		<li><a href="Campionato/Statistiche/">Statistica</a></li>
	</ul>
</div>
{% endblock %}