{% extends 'base.html' %}

{% block content %}
	{% if Risultati %}
		<table class="table table-striped">
				{% for lista_giornata in Risultati %}
					<tr align="center">
						<td class="table-danger" colspan="4"> {{ lista_giornata.0.giornata.nome }} </td>
					</tr>
					{% for dato in lista_giornata %}
						{% if dato.id == id %}
				    		<tr class="rowtable" id="evidenziaelemento" align="center" style="background-color: #ffebee" onclick="goto_calendario({{ dato.id }}, {{anno}})">
                		{% else %}
                    		<tr class="rowtable" align="center" style="color: aliceblue" onclick="goto_calendario({{ dato.id }}, {{ anno }})">
                		{% endif %}
							<td>{{ dato.squadra_casa.nome }}</td>
							<td>{{ dato.risultato_casa }}</td>
							<td>{{ dato.risultato_ospite }}</td>
							<td>{{ dato.squadra_ospite.nome }}</td>
						</tr>
					{% endfor %}
				{% endfor %}
		</table>
		<script>
            function goto_calendario(id, anno){
                const hostname = window.location.origin;
                window.location.href=hostname + "/Campionato/Calendario?id=" + id + "&dropanni=" + anno; 
            }
        </script>
	{% else %}
    <p>Risultati non è caricabile.</p>
    {% endif %}
{% endblock %}