{% extends 'base.html' %}

{% block content %}
	<table class="table table-striped">
		<thead align="center" style="background-color: #f4c6cb">
			<tr>
				<th>Punti</th>
				<th>Squadra</th>
				<th>Giocate</th>
				<th>Vinte</th>
				<th>Perse</th>
				<th>Pareggiate</th>
				<th>Goal Fatti</th>
				<th>Goal Subiti</th>
			</tr>
		</thead>
		{% if Statistiche %}
		<tbody>
			{% for dato in Statistiche %}
				<tr align="center" style="color: aliceblue">
					<td>{{ dato.punti }}</td>
					<td>{{ dato.nome }}</td>
					<td>{{ dato.giocate }}</td>
					<td>{{ dato.vinte }}</td>
					<td>{{ dato.perse }}</td>
					<td>{{ dato.pareggiate }}</td>
					<td>{{ dato.goal_fatti }}</td>
					<td>{{ dato.goal_subiti }}</td>
				</tr>
			{% endfor %}
		</tbody>
		{% else %}
		<p>Statistiche non è caricabile.</p>
		{% endif %}
	</table>
{% endblock %}